.link.icon {
    color: rgb(255, 255, 255);
    font-size: 15px;
    height: 25px;
  }
  
  .fixed.borderless.menu {
    background-color: hsl(231.4, 54.4%, 40.4%);
  }
  
  .text {
    font-size: 15px;
    padding: 15px 12px;
    color: rgb(196, 190, 190);
  }
  