
    <div class="without-margin-bottom ui raised segment">
      <div class="ui list">
        <div class="text2" style=" height:20px">TODO LIST 
          <button class="ui right floated green button toggle-all-tasks">Toggtle All</button>
        </div>
        <div class="ui divider"></div>
        <div class="todos-container"></div>
        <div class="ui divider"></div>
        <div style=" color: rgb(184, 184, 184); font-family: 'Raleway', sans-serif; font-size: 14px; ">
          <div class="ui fluid transparent input">
            <input type="text" class="form-control input-task" placeholder=" Write some  todo task here">
            <button class="ui blue button" style="margin: 0mm; padding: 10px 8px 10px 15px; font-size: 10px;">
              <i class=" plus icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: #dad8d8; color: #ffffffbb ">
      <div class="change" id="cnt">
        <button class="ui green button all ">
          <div style="font-family: 'Raleway', sans-serif; font-size: 15px;"> All </div>
        </button>
        <button class="ui white button all-tasks">
          <div style="font-family: 'Raleway', sans-serif; font-size: 15px;"> Active </div>
        </button>
        <button class="ui right floated white button">
          <div class="delete-all-tasks" style="font-family: 'Raleway', sans-serif; font-size: 15px;"> Clear
            completed (<span class="counter-display">0</span>) </div>
        </button>
      </div>
    </div>

