  #jumbotron {
    padding: 2em;
    margin: 0em auto 2em auto;
    font-weight: 700;
    background-color:#F2F2F2;
  }
    // @media (min-height: 320px) {
    //   .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    //     position: absolute;
    //     bottom: 0;
    //     width: 100%;
    //   }
    // }