<div id="jumbotron">
<div class="ui divider"></div> 
<div class="ui grid">
  <div class="ui dropdown item" style="font-size: 15px;">
    <table>
      <tfoot>
        <tr>
          <th>Copyright </th>
          <th> M7amadsa3ed 2015.</th>
          <th> All rights reserved </th>
          <th></th>
          <th></th>
          <th></th>
          <th>Careers</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Privacy Policy</th>
          <th style="padding-left: 886px ;">Feedback <i class="angle up icon"></i></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
</div>
<!-- <div class="ui inverted vertical footer segment form-page">
  <div class="ui container">
    Travel Match 2015. All Rights Reserved
  </div> -->