<p>menu works!</p>
<div class="ui sidebar left inverted vertical menu">
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div style="height: 52px;   padding: 0px 0px 0px 0px; background-color: hsl(231.4, 54.4%, 40.4%)">
      <div class="item">
        <div class="stitle">
          <div class="text " style="padding: 7px 10px 10px 10px;"> <i class="fab fa-gg"></i> Infinity </div>
        </div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="item" style="background-color: rgb(245, 245, 245)">
      <img class="ui tiny circular floated image" src="assets/img/avatar/mohamed.jpg">
      <table>
        <tr>
          <td width="10" height="90" valign="top">
          <td style="color: #000; font-size: 13px "> MOHAMED SAID
            <div class="ui dropdown">
              <div style="font-size: 13px;">Founder of App <i class="dropdown icon"></i></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="ui divider" style="margin: -0.6px 0px -0.6px 0px; "> </div>
    <div style="background-color: hsla(0, 0%, 96%, 0.993); color: #000; ">
      <a class=" item" style=" color: #000; font-size: 13px ">Ui Kits</a>
      <a class=" item" style=" color: #000;">
        <div><i class="home icon"></i>Dashboard</div>
      </a>
      <a href="https://github.com/OlhaPelekh/webapp1.git" class="item" style=" color: #000;">
        <div><i class="bolt icon"></i>Apps</div>
        <div class="ui label"
          style="margin:-17px 0px 0px 0px; padding: 4px 6px 4px 6px; background-color: rgb(255, 81, 0)">3</div>
      </a>
      <a class="item" style=" color: #000;">
        <div><i class="lock   icon"></i>Components</div>
        <div class="ui label" style="margin:-17px 0px 0px 0px; padding: 4px 6px 4px 6px; background-color:#4baf4f">9
        </div>
      </a>
      <a href="https://outlook.live.com/owa/" class=" item" style=" color: #000;">
        <div><i class="envelope icon"></i>EMAIL</div>
        <div class="ui label" style="margin:-17px 0px 0px 0px; padding: 4px 6px 4px 6px; background-color: #3f51b5;">4
        </div>
      </a>
      <a class="item" style=" color: #000;">
        <div><i class="anchor icon"></i>Form</div>
      </a>
      <a href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru" class="item" style=" color: #000;">
        <div><i class="map icon"></i> Maps</div>
      </a>
      <a class="item" style=" color: #000;">
        <div><i class="copy outline icon"></i>Pages</div>
        <div class="ui label" style="margin:-17px 0px 0px 0px; padding: 4px 6px 4px 6px; background-color: #ff9f00">8
        </div>
      </a>
      <a class="item" style=" color: #000;">
        <div><i class="align left icon"></i>Menu</div>
      </a>
    </div>
  
    <div class="ui divider" style="margin: -0.6px 0px -0.6px 0px; "> </div>
  
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div style="background-color: hsla(0, 0%, 96%, 0.993); color: #000; ">
      <a class=" item" style=" color: #000; font-size: 13px ">Ui Kits</a>
      <a class=" item" style=" color: #000;">
        <div><i class="cog icon"></i>Settings</div>
      </a>
      <a class="item" style=" color: #000;">
        <div><i class="paste icon"></i>Document</div>
        <div class="ui label" style="margin:-17px 0px 0px 0px; padding: 4px 6px 4px 6px; background-color: #3f51b5;">2
        </div>
      </a>
      <a class="item" style=" color: #000;">
        <div><i class="html5 icon"></i>HTML Version</div>
      </a>
      <a class="item" style=" color: #000;"></a>
      <a class="item" style=" color: #000;"></a>
      <a class="item" style=" color: #000;"></a>
      <a class="item" style=" color: #000;"></a>
      <a class="item" style=" color: #000;"></a>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  </div>