<p>body works!</p>
<div id="jumbotron">
    <div class="ui two column stackable grid">
      <div class="column">
        <div class="ui raised segment">
          <div class="text1"> Welcome to Infinity
            <h1 class="ui right aligned header"> 102 </h1>
          </div>
          <div> Number of views </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="text1"> Active
            <h1 class="ui right aligned header"> 325 </h1>
          </div>
          <div> Loads / contact </div>
        </div>
      </div>
    </div>

<div class="ui four column stackable grid">

    <div class="column">
      <div class="without-margin-bottom ui raised segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <div style="color: #3f51b5;font-family: 'Raleway', sans-serif;   font-size: 20px;">
              <div>
                <div class="count1">
                  66.163 K
                </div>
                <h4 class="without-margin-top" style="color: black;"> Total Leads </h4>
              </div>
            </div>
          </div>
          <div class="two wide centered">
            <i class="paperclip icon"></i>
          </div>
        </div>
      </div>
      <div style="background-color: #3f51b5; color: #ffffffbb; ">
        <div class="change"> %change</div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="column">
      <div class="without-margin-bottom ui raised segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <div style="color: #e54919;font-family: 'Raleway', sans-serif;   font-size: 20px;">
              <div class="count1">3.490K</div>
              <h4 class="without-margin-top" style="color: black;"> Total Pending </h4>
            </div>
          </div>
          <div class="two wide centered">
            <i class="ban icon"></i>
          </div>
        </div>
      </div>
      <div style="background-color: #e54919; color: #ffffffbb;">
        <div class="change"> %change</div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="column">
      <div class="without-margin-bottom ui raised segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <div style="color: #4baf4f;font-family: 'Raleway', sans-serif;   font-size: 20px;">
              <div class="count1"> 8.732K</div>
              <h4 class="without-margin-top" style="color: black;"> Case Close </h4>
            </div>
          </div>
          <div class="two wide centered">
            <i class="unlock icon"></i>
          </div>
        </div>
      </div>
      <div style="background-color: #4baf4f; color: #ffffffbb;">
        <div class="change"> %change</div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="column">
      <div class="without-margin-bottom ui raised segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <div style="color: #ff9f00;font-family: 'Raleway', sans-serif;   font-size: 20px;">
              <div class="count1">3.490k </div>
              <h4 class="without-margin-top" style="color: black;"> Total Pending </h4>
            </div>
          </div>
          <div class="two wide centered">
            <i class="clipboard outline icon"></i>
          </div>
        </div>
      </div>
      <div style="background-color: #ff9f00; color: #ffffffbb;">
        <div class="change"> %change</div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  </div>


  <div class="ui raised segment" style=" margin: 29px 0px 29px 0px ;">
    <div class="ui grid" style=" padding: 0px 0px 0px 0px">
      <div class="seven wide column">

        <div style="color: #3f51b5;font-family: 'Raleway', sans-serif; font-size: 30px; padding: 25px 0px;  ">Sales in
          2014 </div>
        <div style=" color: rgb(184, 184, 184); font-family: 'Raleway', sans-serif;letter-spacing:2">
          <h4 style="font-size: 18px">Collaboratively administrate empowered markets </h4>
          <h4 style="font-size: 18px"> via plug-and-play networks. Dynamically pro- </h4>
          <h4 style="font-size: 18px"> crastinate B2C users after installed base bene- </h4>
          <h4 style="font-size: 18px"> fits. Dramatically visualize customer directed </h4>
          <h4 style="font-size: 18px">convergence without </h4>
          <h4 style="font-size: 18px">revolutionary ROI. </h4>
        </div>

      </div>
      <div class="nine wide column">
        <canvas id="myChart1" style="height: 350px; width: 850px"></canvas>
      </div>
    </div>
  </div>