<div id="jumbotron">
    <div class="ui two column stackable grid">
      <div class="column">
        <div class="ui raised segment">
          <div class="text1"> Welcome to Infinity
            <h1 class="ui right aligned header"> 102 </h1>
          </div>
          <div> Number of views </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="text1"> Active
            <h1 class="ui right aligned header"> 325 </h1>
          </div>
          <div> Loads / contact </div>
        </div>
      </div>
    </div>

<div class="ui four column stackable grid">

    <div class="column">
      <div class="without-margin-bottom ui raised segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <div style="color: #3f51b5;font-family: 'Raleway', sans-serif;   font-size: 20px;">
              <div>
                <div class="count1">
                  66.163 K
                </div>
                <h4 class="without-margin-top" style="color: black;"> Total Leads </h4>
              </div>
            </div>
          </div>
          <div class="two wide centered">
            <i class="paperclip icon"></i>
          </div>
        </div>
      </div>
      <div style="background-color: #3f51b5; color: #ffffffbb; ">
        <div class="change"> %change</div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="column">
      <div class="without-margin-bottom ui raised segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <div style="color: #e54919;font-family: 'Raleway', sans-serif;   font-size: 20px;">
              <div class="count1">3.490K</div>
              <h4 class="without-margin-top" style="color: black;"> Total Pending </h4>
            </div>
          </div>
          <div class="two wide centered">
            <i class="ban icon"></i>
          </div>
        </div>
      </div>
      <div style="background-color: #e54919; color: #ffffffbb;">
        <div class="change"> %change</div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="column">
      <div class="without-margin-bottom ui raised segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <div style="color: #4baf4f;font-family: 'Raleway', sans-serif;   font-size: 20px;">
              <div class="count1"> 8.732K</div>
              <h4 class="without-margin-top" style="color: black;"> Case Close </h4>
            </div>
          </div>
          <div class="two wide centered">
            <i class="unlock icon"></i>
          </div>
        </div>
      </div>
      <div style="background-color: #4baf4f; color: #ffffffbb;">
        <div class="change"> %change</div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="column">
      <div class="without-margin-bottom ui raised segment">
        <div class="ui grid">
          <div class="twelve wide column">
            <div style="color: #ff9f00;font-family: 'Raleway', sans-serif;   font-size: 20px;">
              <div class="count1">3.490k </div>
              <h4 class="without-margin-top" style="color: black;"> Total Pending </h4>
            </div>
          </div>
          <div class="two wide centered">
            <i class="clipboard outline icon"></i>
          </div>
        </div>
      </div>
      <div style="background-color: #ff9f00; color: #ffffffbb;">
        <div class="change"> %change</div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  </div>


  <div class="ui raised segment" style=" margin: 29px 0px 29px 0px ;">
    <div class="ui grid" style=" padding: 0px 0px 0px 0px">
      <div class="seven wide column">

        <div style="color: #3f51b5;font-family: 'Raleway', sans-serif; font-size: 30px; padding: 25px 0px;  ">Sales in
          2014 </div>
        <div style=" color: rgb(184, 184, 184); font-family: 'Raleway', sans-serif;letter-spacing:2">
          <h4 style="font-size: 18px">Collaboratively administrate empowered markets </h4>
          <h4 style="font-size: 18px"> via plug-and-play networks. Dynamically pro- </h4>
          <h4 style="font-size: 18px"> crastinate B2C users after installed base bene- </h4>
          <h4 style="font-size: 18px"> fits. Dramatically visualize customer directed </h4>
          <h4 style="font-size: 18px">convergence without </h4>
          <h4 style="font-size: 18px">revolutionary ROI. </h4>
        </div>

      </div>
      <div class="nine wide column">
        <canvas id="myChart1" style="height: 350px; width: 850px"></canvas>
      </div>
    </div>
  </div>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <div class="ui grid">
    <div class="eleven wide column">
      <div class="ui raised segment">
        <div style="font-family: 'Raleway', sans-serif; color: black; font-size: 19px"> ACTIVE LEADS </div>
        <div class="ui divider"></div>
        <table width="1000px" height="250px" style="font-family: 'Raleway', sans-serif; color: hsl(180, 2%, 78%)">
          <tr>
            <td><b style="color: black; font-size: 17px">Type</b></td>
            <td><b style="color: black; font-size: 17px">Lead Name</b></td>
            <td><b style="color: black; font-size: 17px">Views</b></td>
            <td><b style="color: black; font-size: 17px">Favorites</b></td>
            <td><b style="color: black; font-size: 17px">Last Visit</b></td>
            <td><b style="color: black; font-size: 17px">Last Action</b></td>
          </tr>

          <tr>
            <td>
              <div style="color: #3f51b5">Buyer</div>
            </td>
            <td>Denise Ann</td>
            <td>153</td>
            <td>0</td>
            <td>9:23 AM</td>
            <td><i class="internet explorer icon"></i>8/27/2015</td>
          </tr>
          <tr>
            <td>
              <div style="color: #3f51b5">Buyer</div>
            </td>
            <td>Denise Ann</td>
            <td>153</td>
            <td>0</td>
            <td>9:23 AM</td>
            <td><i class="internet explorer icon"></i>8/27/2015</td>
          </tr>
          <tr>
            <td>
              <div style="color: #4baf4f">Landlord</div>
            </td>
            <td>Denise Ann</td>
            <td>153</td>
            <td>0</td>
            <td>9:23 AM</td>
            <td><i class=" envelope outline icon"></i>8/27/2015</td>
          </tr>
          <tr>
            <td>
              <div style="color: #3f51b5">Buyer</div>
            </td>
            <td>Denise Ann</td>
            <td>153</td>
            <td>0</td>
            <td>9:23 AM</td>
            <td><i class=" envelope outline icon"></i>8/27/2015</td>
          </tr>
          <tr>
            <td>
              <div style="color: #e54919">Seller</div>
            </td>
            <td>Denise Ann</td>
            <td>153</td>
            <td>0</td>
            <td>9:23 AM</td>
            <td><i class="internet explorer icon"></i>8/27/2015</td>
          </tr>
          <tr>
            <td>
              <div style="color: #3f51b5">Buyer</div>
            </td>
            <td>Denise Ann</td>
            <td>153</td>
            <td>0</td>
            <td>9:23 AM</td>
            <td><i class="internet explorer icon"></i>8/27/2015</td>
          </tr>
          <tr>
            <td>
              <div style="color: #3f51b5">Buyer</div>
            </td>
            <td>Denise Ann</td>
            <td>153</td>
            <td>0</td>
            <td>9:23 AM</td>
            <td><i class=" envelope outline icon"></i>8/27/2015</td>
          </tr>
          <tr>
            <td>
              <div style="color: #3f51b5">Buyer</div>
            </td>
            <td>Denise Ann</td>
            <td>153</td>
            <td>0</td>
            <td>9:23 AM</td>
            <td><i class="internet explorer icon"></i>8/27/2015</td>
          </tr>
        </table>

      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

    <div class="five wide column">
      <app-todo-list> </app-todo-list>
      <!-- <div class="without-margin-bottom ui raised segment">
        <div class="ui list">
          <div class="text2" style=" height:20px">TODO LIST 
            <button class="ui right floated green button toggle-all-tasks">Toggtle All</button>
          </div>
          <div class="ui divider"></div>
          <div class="todos-container"></div>
         <div class="item" style=" height:36px">
            <input type="checkbox" name="example">
            <label>Collaboratively administrate</label>
          </div>
           <div class="item" style=" height:36px">
            <input type="checkbox" checked="checked">
            <label>Another todo on the list. Add as many you want</label>
          </div>
          <div class="item" style=" height:36px">
            <input type="checkbox" name="example">
            <label>Dramatically maintain clicks-and-mortar</label>
          </div>
          <div class="item" style=" height:36px">
            <input type="checkbox" name="example">
            <label>administrate empowered markets.</label>
          </div>  

          <div class="ui divider"></div>

          <div style=" color: rgb(184, 184, 184); font-family: 'Raleway', sans-serif; font-size: 14px; ">
            <div class="ui fluid transparent input">
              <input type="text" class="form-control input-task" placeholder=" Write some  todo task here">
               <button type="submit" style="background-color:limegreen; border-color: limegreen; font-size: 15px" class="add-task">+</button> 
              <button class="ui blue button" style="margin: 0mm; padding: 10px 8px 10px 15px; font-size: 10px;">
                <i class=" plus icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: #dad8d8; color: #ffffffbb ">
        <div class="change" id="cnt">
          <button class="ui green button all ">
            <div style="font-family: 'Raleway', sans-serif; font-size: 15px;"> All </div>
          </button>
          <button class="ui white button all-tasks">
            <div style="font-family: 'Raleway', sans-serif; font-size: 15px;"> Active </div>
          </button>


          <button class="ui right floated white button">
            <div class="delete-all-tasks" style="font-family: 'Raleway', sans-serif; font-size: 15px;"> Clear
              completed (<span class="counter-display">0</span>) </div>
          </button>



        </div>
      </div> -->
    </div>
  </div>


  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui raised segment">
        <div style="font-family: 'Raleway', sans-serif; color: black; font-size: 19px"> ACTIVITIES </div>
        <div class="ui divider"></div>
        <div style="color:rgb(184, 184, 184); font-size: 10px">
          <div class="ui blue empty circular label"></div> 2 min ago
        </div>
        <div class="line1">Template Builder Access (Video tutorial inside documentation)</div>
        <div style="color:rgb(184, 184, 184); font-size: 10px">
          <div class="ui orange empty circular label"></div> 1 hour ago
        </div>
        <div class="line2">Designed the worldpress theme lily created her account.</div>
        <div style="color:rgb(184, 184, 184); font-size: 10px">
          <div class="ui green empty circular label"></div> 4:30 p.m
        </div>
        <div class="line3">Your domain will expied in 13 days</div>
      </div>
      <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
      <div class="ui  segment">
        <div style="font-family: 'Raleway', sans-serif; color: black; font-size: 19px"> ACTIVITIES </div>
        <div class="ui divider"></div>
        <!-- <img class="ui floated image" src="/img/graph3.jpg"> -->


        <!-- <table>
          <tr>
            <td width="150" height="120" valign="top">
              <table height="120">

                <div style=" color: rgb(184, 184, 184); font-family: 'Raleway', sans-serif; font-size: 16px; ">
                  <tr>
                    <td>
                      <div class="ui label" style="background-color: #3f51b5; font-size: 10px"></div> Chrome
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="ui blue label" style="font-size: 10px"></div> Safari
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="ui label" style="background-color: #4baf4f; font-size: 10px"></div> Firefox
                    </td>
                  </tr>
              </table>
            </td>
            <td> Lorem ipsum dolor sit amet, consectetur adipisising elit. sed
              do eiusmod tempor incidentidunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris are not ut </td>
          </tr>
        </table> -->
        <div class="ui grid">
          <div class="six wide column">
            <canvas id="myChart2" style="height: 140px"></canvas>
          </div>
          <div class="ten wide column" style="padding-top: 50px; font-size: 17px ">
            Lorem ipsum dolor sit amet, consectetur adipisising elit. sed
            do eiusmod tempor incidentidunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris are not ut

          </div>
        </div>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="eight wide column">
      <div class="ui raised segment">
        <div style="font-family: 'Raleway', sans-serif; color: black; font-size: 19px"> ANALYTICS </div>
        <div class="ui divider"></div>
        <!-- <img src="/img/graph2.jpg" width="650" height="364"> -->
        <canvas id="myChart3" style="height: 385px"></canvas>
      </div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  </div>


 


  
</div>
